<div class="row" style="margin-top: 10px;">
  <div class="summary-box col-md-4 text-center">
    <div class="summary-value"><%= @total ? number_to_currency(@total, precision: 2) : "0" %></div>
    <div class="summary-label">Total</div>
  </diV>
  <div class="summary-box col-md-4 text-center">
    <div class="summary-value"><%= @expenses.size %></div>
    <div class="summary-label">Transactions</div>
  </div>
  <div class="summary-box col-md-4 text-center">
    <div class="summary-value"><%= @expenses.length > 0 ? number_to_currency(@total / @expenses.length, precision: 2) : "0" %></div>
    <div class="summary-label">Average</div>
  </div>
</div>

  <div class="row" style="margin-top: 20px;">
  <div class="col-md-12">
     <%= link_to '<span class="glyphicon glyphicon-plus"></span> New Expense'.html_safe, new_expense_path, remote: true, class: "btn btn-success pull-left" %>
    <h4 class="dropdown pull-right">
      <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown"><%=l @month, format: '%B %Y'%> <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
         <% (0..11).each do |i| date = i.months.ago %> 
        <%# a href="/expenses?month=04&year=2017" %>
        <%# The query_parameters hash contains parameters that were sent as part of the query string %>
        <li role="presentation"><%= link_to l(date, format: '%B %Y'), expenses_path(request.query_parameters.merge(year: l(date, format: '%Y'), month: l(date, format: '%m'))) %></li>
        <% end %>
      </ul>
    </h4>
  </div>
  </div>

  <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
    <thead>
      <tr>
        <th class="text-center">Día</th>
        <th>Concepto</th>
        <th class="text-right">Categoría</th>
        <th class="text-right">Valor</th>
      </tr>
    </thead>
    <tbody>
      <%= render @expenses %>
    </tbody>
  </table>